<div class="form-container">
  <h1>Add a New Vehicle</h1>

  <% if (flashMessage && flashMessage.length > 0) { %>
    <div class="flash-message"><%= flashMessage %></div>
  <% } %>
  
  <% if (errors && errors.length > 0) { %>
    <div class="errors">
      <% errors.forEach(e => { %>
        <p><%= e.msg %></p>
      <% }) %>
    </div>
  <% } %>

  <form action="/inv/add-inventory" method="POST">
    <label for="vehicleName">Name of the Vehicle:</label>
    <input type="text" name="vehicleName" id="vehicleName" required value="<%= typeof vehicleName != 'undefined' ? vehicleName : '' %>"><br>
  
    <label for="classification_id">Classification:</label>
    <select name="classification_id" id="classification_id" required>
      <option value="">Select Classification</option>
      <%- classificationList %>
    </select>
  
    <label for="make">Make</label>
    <input type="text" id="make" name="make" required value="<%= typeof make != 'undefined' ? make : '' %>">
  
    <label for="model">Model</label>
    <input type="text" id="model" name="model" required value="<%= typeof model != 'undefined' ? model : '' %>">
  
    <label for="description">Description</label>
    <textarea id="description" name="description" required><%= typeof description != 'undefined' ? description : '' %></textarea>
  
    <label for="image_path">Image Path</label>
    <input type="text" id="image_path" name="image_path" value="<%= typeof image_path != 'undefined' ? image_path : '/images/vehicles/no-image.png' %>">
  
    <label for="thumbnail_path">Thumbnail Path</label>
    <input type="text" id="thumbnail_path" name="thumbnail_path" value="<%= typeof thumbnail_path != 'undefined' ? thumbnail_path : '/images/vehicles/no-image-tn.png' %>">
  
    <label for="price">Price</label>
    <input type="number" name="price" id="price" required step="0.01" value="<%= typeof price != 'undefined' ? price : '' %>"><br>
  
    <label for="year">Year</label>
    <input type="number" id="year" name="year" min="1900" max="2099" required value="<%= typeof year != 'undefined' ? year : '' %>">
  
    <label for="miles">Miles</label>
    <input type="number" id="miles" name="miles" required value="<%= typeof miles != 'undefined' ? miles : '' %>">
  
    <label for="color">Color</label>
    <input type="text" id="color" name="color" required value="<%= typeof color != 'undefined' ? color : '' %>">
  
    <button type="submit">Add Vehicle</button>
  </form>
</div>
